.text-container {
  max-width: 360px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.to {
  background-color: #2f97fa;
  align-self: flex-end;
}

.from {
  background-color: #e4e4e4;
  align-self: flex-start;
}

.textBlob {
  margin: 3px;
  max-width: 80%;
  border-radius: 5px;
  padding: 6px;
}

.pageChanger {
  margin: 3px;
}

.pageButton {
  width: 40px;
  font-size: 20px;
}

.prev {
  float: left;
}

.next {
  float: right;
}
